/*
  Icon Font: tossIcons
*/

@font-face {
  font-family: "tossIcons";
  src: url("https://static.toss.im/tds/icon/fonts/tossIcons_75e0c132841683f3563ab473b1d3630e.eot");
  src: url("https://static.toss.im/tds/icon/fonts/tossIcons_75e0c132841683f3563ab473b1d3630e.eot?#iefix") format("embedded-opentype"),
       url("https://static.toss.im/tds/icon/fonts/tossIcons_75e0c132841683f3563ab473b1d3630e.woff2") format("woff2"),
       url("https://static.toss.im/tds/icon/fonts/tossIcons_75e0c132841683f3563ab473b1d3630e.woff") format("woff"),
       url("https://static.toss.im/tds/icon/fonts/tossIcons_75e0c132841683f3563ab473b1d3630e.ttf") format("truetype"),
       url("https://static.toss.im/tds/icon/fonts/tossIcons_75e0c132841683f3563ab473b1d3630e.svg#tossIcons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "tossIcons";
    src: url("https://static.toss.im/tds/icon/fonts/tossIcons_75e0c132841683f3563ab473b1d3630e.svg#tossIcons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-account:before,
.icon-account-balance:before,
.icon-account-circle:before,
.icon-add:before,
.icon-announcement:before,
.icon-arrow-drop:before,
.icon-auto-awesome:before,
.icon-call-made:before,
.icon-call-received:before,
.icon-cancel:before,
.icon-card:before,
.icon-check:before,
.icon-check-circle:before,
.icon-checkbox-select-off:before,
.icon-checkbox-select-on:before,
.icon-close:before,
.icon-create:before,
.icon-credit:before,
.icon-email:before,
.icon-error:before,
.icon-error-outline:before,
.icon-filter:before,
.icon-graph:before,
.icon-group:before,
.icon-group-add:before,
.icon-headset-micon:before,
.icon-heart-fill:before,
.icon-heart-line:before,
.icon-help:before,
.icon-help-outline:before,
.icon-info:before,
.icon-info-outline:before,
.icon-keyboard-arrow-down:before,
.icon-keyboard-arrow-left:before,
.icon-keyboard-arrow-right:before,
.icon-keyboard-arrow-up:before,
.icon-list-arrow:before,
.icon-lock:before,
.icon-lock-open:before,
.icon-more-vert:before,
.icon-navigation-back-ios:before,
.icon-navigation-back-material:before,
.icon-navigation-close:before,
.icon-notification:before,
.icon-number-keyboard:before,
.icon-person:before,
.icon-person-add:before,
.icon-pie-chart:before,
.icon-plus:before,
.icon-query-builder:before,
.icon-refresh:before,
.icon-report-problem:before,
.icon-search:before,
.icon-services:before,
.icon-swap-driving-apps-wheel:before,
.icon-text-arrow:before,
.icon-thumb-up:before,
.icon-timeline:before,
.icon-trending-up:before,
.icon-verified-user:before,
.icon-view-history:before {
  display: inline-block;
  font-family: "tossIcons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-account:before { content: "\f103"; }
.icon-account-balance:before { content: "\f137"; }
.icon-account-circle:before { content: "\f138"; }
.icon-add:before { content: "\f106"; }
.icon-announcement:before { content: "\f107"; }
.icon-arrow-drop:before { content: "\f108"; }
.icon-auto-awesome:before { content: "\f109"; }
.icon-call-made:before { content: "\f10a"; }
.icon-call-received:before { content: "\f10b"; }
.icon-cancel:before { content: "\f10c"; }
.icon-card:before { content: "\f10d"; }
.icon-check:before { content: "\f10e"; }
.icon-check-circle:before { content: "\f10f"; }
.icon-checkbox-select-off:before { content: "\f140"; }
.icon-checkbox-select-on:before { content: "\f141"; }
.icon-close:before { content: "\f110"; }
.icon-create:before { content: "\f111"; }
.icon-credit:before { content: "\f112"; }
.icon-email:before { content: "\f113"; }
.icon-error:before { content: "\f114"; }
.icon-error-outline:before { content: "\f115"; }
.icon-filter:before { content: "\f116"; }
.icon-graph:before { content: "\f117"; }
.icon-group:before { content: "\f118"; }
.icon-group-add:before { content: "\f119"; }
.icon-headset-micon:before { content: "\f11a"; }
.icon-heart-fill:before { content: "\f13c"; }
.icon-heart-line:before { content: "\f13d"; }
.icon-help:before { content: "\f11b"; }
.icon-help-outline:before { content: "\f11c"; }
.icon-info:before { content: "\f11d"; }
.icon-info-outline:before { content: "\f11e"; }
.icon-keyboard-arrow-down:before { content: "\f11f"; }
.icon-keyboard-arrow-left:before { content: "\f120"; }
.icon-keyboard-arrow-right:before { content: "\f121"; }
.icon-keyboard-arrow-up:before { content: "\f122"; }
.icon-list-arrow:before { content: "\f139"; }
.icon-lock:before { content: "\f123"; }
.icon-lock-open:before { content: "\f124"; }
.icon-more-vert:before { content: "\f125"; }
.icon-navigation-back-ios:before { content: "\f13a"; }
.icon-navigation-back-material:before { content: "\f126"; }
.icon-navigation-close:before { content: "\f13b"; }
.icon-notification:before { content: "\f127"; }
.icon-number-keyboard:before { content: "\f142"; }
.icon-person:before { content: "\f128"; }
.icon-person-add:before { content: "\f129"; }
.icon-pie-chart:before { content: "\f12a"; }
.icon-plus:before { content: "\f12b"; }
.icon-query-builder:before { content: "\f12c"; }
.icon-refresh:before { content: "\f12d"; }
.icon-report-problem:before { content: "\f12e"; }
.icon-search:before { content: "\f12f"; }
.icon-services:before { content: "\f130"; }
.icon-swap-driving-apps-wheel:before { content: "\f131"; }
.icon-text-arrow:before { content: "\f132"; }
.icon-thumb-up:before { content: "\f133"; }
.icon-timeline:before { content: "\f134"; }
.icon-trending-up:before { content: "\f135"; }
.icon-verified-user:before { content: "\f136"; }
.icon-view-history:before { content: "\f13f"; }
